/* Generic CSS */
body {
  margin-left: 2%;
  margin-right: 2%;
}

.center {
  text-align: center;
  margin-top: 30px;
}

/* CSS for Index Page */
.banner_container {
  background-image: url(https://source.unsplash.com/PSY_KuMcTJU);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.main_area_home_page {
  background-image: url(https://source.unsplash.com/9cvYePOAyKc);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home_main_section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pupose_container {
  width: 600px;
  background-color: rgba(233,31,65,0.9);
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px;
}

.purpose_heading {
  text-align: center;
  text-transform: uppercase;
}

.background_section {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.speech_info {
  background-color: rgba(2,117,216,0.8);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 50px;
}

.info_heading {
  text-align: center;
}

span {
  font-weight: bold;
}

/* CSS for Lincoln Page */
.getty_title {
  text-align: center;
  margin-top: 30px;
}

.lincoln_section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.getty_para_one {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 40px;
  font-size: 35px;
}

.lincoln_image_one {
  margin-right: 5%;
  background-image: url(https://source.unsplash.com/QV1Fde2RsBo);
  height: 450px;
  width: 1000px;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lincoln_image_two {
  margin-left: 5%;
  background-image: url(https://source.unsplash.com/htAyoWqrXww);
  height: 450px;
  width: 1000px;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.getty_para_two {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 35px;
  font-size: 30px;
}

.getty_para_three {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 40px;
  font-size: 25px;
}

.lincoln_image_three {
  margin-right: 5%;
  background-image: url(https://source.unsplash.com/9C8r4QUwZRQ);
  height: 450px;
  width: 1000px;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom_section {
  margin-bottom: 50px;
}

/* CSS for King Page */
.king_section {
  display: flex;
  flex-direction: row;
}

.king_image_area {
  flex: 3;
}

.king_text_area_single {
  flex: 4;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  line-height: 35px;
}

.king_text_area_double {
  flex: 3;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  line-height: 35px;
}

.left {
  margin-left: 5%;
}

.right {
  margin-right: 5%;
}

.king_long_text_area_one {
  background-image: url(https://source.unsplash.com/Vq__yk6faOI);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.king_long_text_area_two {
  background-image: url(https://source.unsplash.com/_g9F-Y4p0lo);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.king_text_area_long {
  position: relative;
  margin-top: 20px;
  color: #333;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(255,255,255,0.6);
  font-size: 20px;
  line-height: 35px;
  border-radius: 8px;
  padding: 10px;
}

.king_section_pic_text_area {
  display: flex;
  flex-direction: row;
}

.single_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last_fix {
  margin-bottom: 50px;
}


/*King page images */
.one {
  background-image: url(https://source.unsplash.com/E695OZJiju4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.two {
  background-image: url(https://source.unsplash.com/kp_3fVsxedE);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  background-image: url(https://source.unsplash.com/gzVgFhovsP0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.four {
  background-image: url(https://source.unsplash.com/KXPllA8Ofko);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.five {
  background-image: url(https://source.unsplash.com/RjYS7t3eHR4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.six {
  background-image: url(https://source.unsplash.com/sNxC4EF1iB8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.seven {
  flex: 5;
  background-image: url(https://source.unsplash.com/AEaTUnvneik);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.eight {
  flex: 5;
  background-image: url(https://source.unsplash.com/Lg3XQb461us);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nine {
  flex: 5;
  background-image: url(https://source.unsplash.com/7zn9UvUyRFE);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ten {
  flex: 5;
  background-image: url(https://source.unsplash.com/JSvSIKCd9j4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* CSS for Military section */
.mil_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mil_text_area {
  width: 500px;
}

/* CSS for military page pictures */

.mil_img { 
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bottom {
  margin-bottom: 50px;
}

/* Military images */
.mil_one {
  background-image: url(https://source.unsplash.com/NLbvPon-5r8);
}

.mil_two {
  background-image: url(https://source.unsplash.com/Kjn03TNkkJM);
}

.mil_three {
  background-image: url(https://source.unsplash.com/wsVFxYDFa9k);
}

.mil_four {
  background-image: url(https://source.unsplash.com/fsEgvr_Pm-Y);
}

.mil_five {
  background-image: url(https://source.unsplash.com/J-LMPtk8tmg);
}


/* Media Queries to make the site responsive */
@media only all and (max-width: 768px){

  .banner_container {
    margin-left: 1%;
    margin-right: 1%;
    height: 400px;
  }

  .pupose_container {
    width: 300px;
  }

  .background_section {
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
  }

  .speech_info{
    margin-bottom: 15px;
  }

  .lincoln_section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .getty_para_one {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    font-size: 20px;
  }

  .lincoln_image_one {
    margin-right: 2%;
    margin-left: 3%;
    height: 450px;
    width: 300px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .lincoln_image_two {
    margin-left: 3%;
    margin-right: 2%;
    height: 450px;
    width: 300px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .getty_para_two {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    font-size: 20px;
  } 

  .getty_para_three {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    font-size: 20px;
  }

  .lincoln_image_three {
    margin-left: 3%;
    margin-right: 2%;
    height: 450px;
    width: 300px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* CSS for King Page-Media Query */
  .king_section {
    display: flex;
    flex-direction: column;
  }

  .king_section_pic_text_area {
    display: flex;
    flex-direction: column;
  }

  /* CSS for Military section */
  .mil_section {
    display: flex;
    flex-direction: column;
  }

  .mil_text_area {
    margin-left: 5%;
    margin-right: 3%;
    width: 300px;
  }

}

