{% extends 'base.html' %}

{% block body %}

<!-- Navbar elements -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">U.S. Speechs</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lincoln">Lincoln</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/king">King</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/military">Eisenhower</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">The Data</a>
      </li>
    </ul>
  </div>
</nav>

<main class='main_data_container'>
    
    <div class='speech_data_container'>

      <div id="piechart">
        <h1>The Gettysburg Address<h1>
        <svg style="width:450px;height:450px;">
        </svg>
      </div>

      <div>
        <h1>Comments</h1>
        <p>Here are my comments</p>
      </div>

    </div>
  
    <div class='speech_data_container'>

      <div id="dream_piechart">
        <h1 class='center'>I Have a Dream<h1>
        <svg style="width:450px;height:450px;">
        </svg>
      </div>

      <div>
        <h1>Comments</h1>
        <p>Here are my comments</p>
      </div>

    </div>

    <div class='speech_data_container'>

      <div id="military_piechart">
        <h1>Eisenhower's farewell address</h1>
        <svg style="width:450px;height:450px;">
        </svg>
      </div>

      <div>
        <h1>Comments</h1>
        <p>Here are my comments</p>
      </div>

    </div>

</main>

<script>



</script>



{% endblock %}