{% extends 'base.html' %}

{% block body %}

<!-- Navbar elements -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">U.S. Speechs</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lincoln">Lincoln</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/king">King</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/military">Eisenhower</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">The Data</a>
      </li>
    </ul>
  </div>
</nav>

<main class='main_data_container'>

    <h1 class='data_page_heading center'>The Speeches Analyzed</h1>
    
    <div class='speech_data_container'>

      <div id="piechart">
        <h1>The Gettysburg Address<h1>
        <svg style="width:450px;height:450px;">
        </svg>
      </div>

      <div class='data_para'>
        <h1 class='center'>Comments:</h1>
        <p>
          The Gettysburg Address is probably the most famous speech in U.S. History. The speech itself is quite short, only about 270 words or so. Thus, by cutting out a lot of words that are common in the English language, there is not a lot left to examine.  
        </p>
        <p>
          From the words that do come up, there is a similar theme. Us, we, people, they and nation all refer to a group of people. Lincoln does mention great three times. However, there is one word that does stand out which is dedicated. Lincoln used this word four times in the speech. This word, essentially means loyal, hard working. There is no doubt that the Civil War was a very stressful time period. The soldiers that died did give their last full measure of devotion to the nation.  
        </p>
        <p>
          Lincoln tells the crowd that the word will 'little note nore long remember what they did here'. In many ways he was right, how many people today know when the Battle of Gettysburg was fought? However, the reasons why they died-for the greater cause of the union is why they will never be forgotten. All of us must continue to <span>dedicate</span> our lives to carry out the work that they so far have advanced. That is the best way to honor those brave soldiers who fought and died at Gettysburg.
        </p>
      </div>

    </div>
  
    <div class='speech_data_container'>

      <div id="dream_piechart">
        <h1 class='center'>I Have a Dream<h1>
        <svg style="width:450px;height:450px;">
        </svg>
      </div>

      <div class='data_para'>
        <h1 class='center'>Comments:</h1>
        <p>
          Besides the Gettysburg Address, Dr. King's 'I have a Dream Speech' is probably the second most famous speech in U.S. history. The word analysis shows that some of the words used in the speech are similar to the Gettysburg Address.First, Dr. King uses the words we and our quite often. It is also interesting that both freedom(20) and ring(12) are quite common as well. The words day and dream I also find quite fascinating for appearing to be quite common. One could say one day or I have a dream that one day meaning that something that is not real will eventually be real. Combining these two words with we and our demonstrates that Dr. King wanted this journey done together. 
        </p>
        <p>
          There are are more words that appear quite frequent in the word analysis. They are be, from the verb to be, and the word with. I left with in because it signifies again that Dr. King wanted the journey to be done together-with each other. Finally, this speech is much longer than the Gettysburg Address and so I had ot really only select words that appeared above a certain frequency.
        </p>
      </div>

    </div>

    <div class='speech_data_container'>

      <div id="military_piechart">
        <h1>Eisenhower's Farewell</h1>
        <svg style="width:450px;height:450px;">
        </svg>
      </div>

      <div class='data_para'>
        <h1 class='center'>Comments:</h1>
        <p>
          Eisenhower's farewell address is a speech that I bet hardly any Americans have ever really heard. I still remember that it was not until my Freshmen year of college where I first heard of the concept of the military-industrial complex. In the speech President Eisenhower warned that nation that with the growth of the military industry would forever change the nature of the American way of life. 
        </p>
        <p>
          As with the other speeches, there are some common words that appear. First, the words our, you, with, we are back again showing the concept that we are all in this together as a nation. However, a few new words appear as well. You is quote common signifying, I believe, that he is warning you, the American citizen, about what is happening to American democracy. Eisenhower also speaks of balance, peace and military which I take this to mean that he is arguing that the American republic has to defend itself with a powerful military but that military must balance itself to protect the Republic, not destroy it. 
        </p>
      </div>

    </div>

</main>

<script>



</script>



{% endblock %}