{% extends 'base.html' %}

{% block body %}

<!-- Banner elements -->
<div class='banner_container'>
</div>

<!-- Navbar elements -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">U.S. Speechs</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lincoln</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">King</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Eisenhower</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">The Data</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main Section -->
<main class='main_area_home_page'>

  <!-- This section tells the purpose of the site -->
  <section class='home_main_section'>
    <div class='pupose_container'>
      <h1 class='purpose_heading'>Site Purpose</h1>
      <p>The purpose of this site is to examine the most common words in three U.S. Speeches. The speeches will
      be the Gettysburg Address, I have a Dream Speech and finally Einenhower's Military Industrial speech.
      </p>
      <p>Each speech will be displayed on its seperate page. Then the data section will contain graphs which 
        will show the most common words in each speech. Finally, at the end of the graphs, will be a few remarks where
        I will conclude what, if any, are the common themes.
      </p>
      <p>Finally, I will not be counting articles, words such as the, or and's, or's, but's I think you get the point. 
        I am looking for words that convey an idea across time. 
      </p>
    </div>
  </section>

  <!-- This section has background information on each speech -->
  <section class='background_section'>

    <div class='speech_info'>
      <h4>The Gettysburg Address</h4>
      <p>Author: Abraham Lincoln </p>
      <p>Date Given: November 19, 1863</p>
    </div>

    <div class='speech_info'>
      <h4>I have a dream</h4>
      <p>Author: Dr. Martin Luther King</p>
      <p>Date Given: August 28, 1963</p>
    </div>

    <div class='speech_info'>
      <h4>Eisenhower's farewell address</h4>
      <p>Author: Dwight D. Eisenhower </p>
      <p>Date Given: January 17, 1961</p>
    </div>

  </section>

</main>




{% endblock %}